<li><%= link_to tag.name, { action: 'tag', tag_id: tag.id }, { method: :post }%> |
<%= link_to 'Remove Tag', [@post, tag], method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></li>